@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-size: 0.875rem;
}

.user-message {
  background-color: var(--colorPrimary);
  border-radius: 4px;
  color: #fff;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  text-align: right;
}

.assistant-message {
  background-color: var(--colorGreyLightest);
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  text-align: left;
}

.form {
  margin-top: 2rem;

  > div {
    min-height: 0;
  }

  [data-testid="errorComponent"] {
    display: none;
  }
}

.prompt-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.prompt-card {
  background-color: #fff;
  border: 1px solid var(--colorGreyLight);
  padding: 1rem;
}

.empty-message {
  margin-bottom: 2rem;
}

.bottom-section {
  margin-top: auto;
}

.nav {
  height: 64px;
  background-color: var(--colorPrimary);
  display: flex;
  align-items: center;
  padding: 0 1rem;

  img {
    width: 80px;
  }
}

.chat-wrapper {
  min-height: calc(100vh - 64px);
}
